{{ partial "cmd-options/option.html" 
(dict "name" "predicate"
      "short" "p"
      "param" "EXPRESSION"
      "documentation" `Boolean expression to be evaluated for each sequence record. The attribute keys defined for each sequence
      record can be used in the expression as variable names. An extra variable named 'sequence' refers to the sequence record itself.
      Several -p options can be used on the same command line and in this last case, the selected sequence records will match all constraints.`) 
}}