{{ "#### Controlling the input data" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/input/fasta.html" .}}</li>
    <li>{{ partial "cmd-options/input/fastq.html" .}}</li>
    <li>{{ partial "cmd-options/input/embl.html" .}}</li>
    <li>{{ partial "cmd-options/input/genbank.html" .}}</li>
    <li>{{ partial "cmd-options/input/ecopcr.html" .}}</li>
    <li>{{ partial "cmd-options/input/input-OBI-header.html" .}}</li>
    <li>{{ partial "cmd-options/input/input-json-header.html" .}}</li>
    <li>{{ partial "cmd-options/input/solexa.html" .}}</li>
</ul>
