{{ "#### Controlling the input data" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/fasta.html" .}}</li>
    <li>{{ partial "cmd-options/fastq.html" .}}</li>
    <li>{{ partial "cmd-options/embl.html" .}}</li>
    <li>{{ partial "cmd-options/genbank.html" .}}</li>
    <li>{{ partial "cmd-options/ecopcr.html" .}}</li>
    <li>{{ partial "cmd-options/input-OBI-header.html" .}}</li>
    <li>{{ partial "cmd-options/input-json-header.html" .}}</li>
    <li>{{ partial "cmd-options/solexa.html" .}}</li>
</ul>
