{{ "#### Controlling the output data" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/compress.html" .}}</li>
    <li>{{ partial "cmd-options/no-order.html" .}}</li>
    <li>{{ partial "cmd-options/fasta-output.html" .}}</li>
    <li>{{ partial "cmd-options/fastq-output.html" .}}</li>
    <li>{{ partial "cmd-options/json-output.html" .}}</li>
    <li>{{ partial "cmd-options/out.html" .}}</li>
    <li>{{ partial "cmd-options/output-OBI-header.html" .}}</li>
    <li>{{ partial "cmd-options/output-json-header.html" .}}</li>
    <li>{{ partial "cmd-options/skip-empty.html" .}}</li>
    <li>{{ partial "cmd-options/no-progressbar.html" .}}</li>
</ul>