{{ "#### Controlling the output data" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/output/compress.html" .}}</li>
    <li>{{ partial "cmd-options/output/no-order.html" .}}</li>
    <li>{{ partial "cmd-options/output/fasta-output.html" .}}</li>
    <li>{{ partial "cmd-options/output/fastq-output.html" .}}</li>
    <li>{{ partial "cmd-options/output/json-output.html" .}}</li>
    <li>{{ partial "cmd-options/output/out.html" .}}</li>
    <li>{{ partial "cmd-options/output/output-OBI-header.html" .}}</li>
    <li>{{ partial "cmd-options/output/output-json-header.html" .}}</li>
    <li>{{ partial "cmd-options/output/skip-empty.html" .}}</li>
    <li>{{ partial "cmd-options/output/no-progressbar.html" .}}</li>
</ul>