{{ "#### Selecting sequence records" | markdownify}}

{{ "##### Based on sequence identifier" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/id-list.html" .}}</li>
</ul>

{{ "##### Based on sequence definition" | markdownify}}

{{ "##### Based on sequence identifier" | markdownify}}


{{ "##### Based on sequence properties" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/min-count.html" .}}</li>
    <li>{{ partial "cmd-options/max-count.html" .}}</li>
    <li>{{ partial "cmd-options/min-length.html" .}}</li>
    <li>{{ partial "cmd-options/max-length.html" .}}</li>
</ul>


{{ "##### Based on sequence" | markdownify}}

<ul>
    <li>{{ partial "cmd-options/approx-pattern.html" .}}</li>
</ul>
